# Cypress
cypress/downloads/
cypress/screenshots/
cypress/videos/
cypress/reports/
cypress/cache/
cypress.env.json

# Dependências
node_modules/

# Arquivos de lock (opcional)
yarn.lock

# Configurações de sistema/IDE
.DS_Store
.idea/
.vscode/
.gitignore